/* Sections
----------------------------------------------------------------------------------- */

:root{
  --text-color: rgb(52, 54, 51);
  --font-color: #b9d1f2;
  --heading-color: #f5f2e8;
  --emphasis-color: #f2a278;
  --bubble-color: #1FFFDA;
  --bg-color: #153956;
  --dark-bg-color: #002e4d;
  --button-color: #5497A7;

  color: var(--font-color)
}

code{
  color: #222
}


body{
  color: #b9d1f2;
  background: var(--bg-color)

}

div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.color-emphasis{
  color: var(--emphasis-color)
}


.fade-in{
  color: rgb(52, 54, 51,0); 
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 1s; 
}

.fade-career{
  color: rgb(52, 54, 51,0); 
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 3s; 
}

.fade-career-name{
  color: rgb(52, 54, 51,0); 
  animation-name: fade-name;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 4s; 
}


.fade-name{
  color: rgb(52, 54, 51,0); 
  animation-name: fade-name;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 2s; 
}



@keyframes fade-in{
  0%{color: rgb(52, 54, 51,0); }
  100%{color: var(--heading-color);}
}


@keyframes fade-name{
  0%{color: rgb(52, 54, 51,0); }
  100%{color: var(--emphasis-color);}

}
.container{
  padding-top: 1rem;
}

.about-me-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border-left: solid var(--dark-bg-color) 1rem;
  border-top: solid var(--dark-bg-color) 1rem;
}

.about-me-grid > div{
  padding: 0.5rem;
  border-bottom: solid var(--dark-bg-color) 1rem;
  border-right: solid var(--dark-bg-color) 1rem;
}

.am-grid-about-me{
  background: var(--bg-color);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.am-grid-photo{
  display: flex;
 
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.am-grid-skills{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.border{
  border: var(--dark-bg-color) solid 0.5rem;
  border-radius: 2rem 0.5rem 2rem 0.5rem;
  padding: 1rem
}

.interior-border{
  border: var(--dark-bg-color) solid 0.5rem;
  border-radius: 1rem 0.25rem 1rem 0.25rem;
  padding: 1rem
}

.splash{
  padding: 2rem;
}

.section{
  padding-top: 2rem;
  padding-bottom: 10rem;
}

.portrait {
  box-sizing: border-box;
  align-self: center;
  max-width: 90%;
  height: auto;
  display: block;
  margin: 1rem auto;
  border-radius: 50%;
}

.img-logo{
  margin: auto 0;
}


.link-logo{
  height: 6rem;

}

img.link-logo:hover{
  filter: invert(1)
}

.code-logo{
  height: 1.5rem;
}

.unordered-list{
  padding-left: 2rem;
}


.logosContainer{
  text-align: center;
    margin: auto;
    padding: 1rem;
    width: 70%;
    align-content: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
}



.splash-screen{
  text-align: center;
}

.project{
  margin: 1rem;
}

canvas{
  position:fixed;
  left:0;
  top: 0;
  z-index:-1;
}
p{
  font-size: 1.8rem
}

.radial{
  background: radial-gradient(rgb(133,130,137,1),rgb(133,130,137,0));
  /*background: radial-gradient(rgb(255,255,255,1),rgba(255, 255, 255, 0));*/
}

.greeting{
  padding: 50% 0 100% 0;
}

.title{
  padding-bottom: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
  text-align: right;
  padding: 1rem;
}

.menu-link{
  display: inline;
  color: var(--heading-color)
}

a{
  display: block;
}

.portfolioContainer{
 width: 90%;
 margin: 0 auto;

}

.left-arrow,.right-arrow{
  position: absolute;
  top: 50%;
}


.left-arrow{
  left: 0;
}

.right-arrow{
  right: 0
}

.in-focus{

}
/*
.left-focus,.right-focus{
  position: absolute;
  top: 50%;
  width: 50%;
  z-index: 1
}

.left-focus{
  left: 0
}

.right-focus{
  right: 0
}

.cards-container{  
  display: flex;
  flex-wrap: wrap;
  max-height:10%;
	color: var(--font-color);
	font-family: helvetica;	
}

.viewport{
  box-sizing: border-box;
  margin: 0;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	width: 100%;
	min-height: 80vh;
  border: solid 1rem var(--dark-bg-color);
  touch-action: pan-y
}
.viewport > * {
  touch-action: pan-y;
}



.slide{
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	width: 80%;
	height: 80%;
}

.card-wrapper{
	display: flex;
	min-width: 100%;
	align-items: center;
	justify-content: center;
}


.card{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 35% 25% 20%;
  grid-template-areas:  
              "title"
              "image"
              "description"
              "code";
  width: 100%;
	margin: 1rem;
	background: var(--dark-bg-color);
	text-align: center;
	box-shadow:0px 5px 5px 0px #001B2E;
	cursor: pointer;
}

.card-title{ 
  grid-area: title;  
	padding-top: 1rem;

}

.card-title,.card-description{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image{
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
  align-self: center;
  padding: 2rem;
	border-radius: 4rem;  
}

.card-image-wrapper{
  box-sizing: border-box;
  grid-area: image;
  display: flex;
}

.card-description{
  grid-area: description;
	text-align: left;
  padding: 0 2rem;
  margin-block-end: 0em;
}
.card-link-code,.card-link-live{
  align-self: flex-start;
  text-align: left;
  padding: 0 2rem;
  width: auto;
  
}
.card-link-code{
  align-self: flex-start;
  padding-bottom: 1rem; 
}

.card-code-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  grid-area: code;
	padding-bottom: 1rem;
}

code{
  color: black;
  padding: 0.125rem 0.25rem;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}





/* Larger than mobile */
@media (min-width: 600px) {

  .card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25% 40% 35%;
    grid-template-areas:  
                "title image"
                "description image"
                "code image";
    height: 90%;
    margin: 1rem;
    background: var(--dark-bg-color);
    border-radius: 1rem;
    text-align: center;
    box-shadow:0px 5px 5px 0px #001B2E;
    cursor: pointer;
  }

  .greeting{
    padding: 30% 0 50% 0;
  }
  .about-me-grid{
    display: grid;
    margin: 0 auto;
    max-height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
  
  .am-grid-about-me{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .am-grid-photo{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .am-grid-skills{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .card-image{
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    align-self: center;
    padding: 2rem;
    border-radius: 4rem;  
  }
}




